<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="Aqui encontrarán muestra de mi trabajo, hablidades de desarrollo web y demas locuras">
	<title>Portafolio</title>
</head>
<body>
	<header>
		<nav>
		<ul>
			<li><a href="#">Yo</a></li>
			<li><a href="#">perfil</a></li>
			<li><a href="#">Trabajo</a></li>
			<li><a href="#">Contacto</a></li>
			<li><a href="#">Hobbies</a></li>
		</ul>
		</nav>
		<figure>
			<img src="avatar.jpg" alt="Imagen Personal">
			<figcaption><a href="http://twitter.com/elSharmaz/" target="_blank">Ivan Robles</a></figcaption>
			<p>Ivan Robles</p>
		</figure>
	</header>
	<section>
		<h2>Mi Perfil</h2>
		<p>No hay casualidad, pero si causalidad. Si llegaste aqui puedes ver mi portafolio, contactame ;)</p>
		<a href="#Facebook" target="_blank">Ivan Robles</a>
		<a href="#Twitter" target="_blank">Ivan Robles</a>
		<a href="#Github" target="_blank">Ivan Robles</a>
	</section>
	<section>
		<h2>Mi Trabajo</h2>
		<article>
			<figure>
				<img src="angemi_site.jpg" alt="Sitio web">
				<figcaption>Website de Angemi repostería y café</figcaption>
			</figure>
		</article>
		<article>
			<figure>
				<img src="angemi_site.jpg" alt="Sitio web">
				<figcaption>Website de Angemi repostería y café</figcaption>
			</figure>
		</article>
		<article>
			<figure>
				<img src="angemi_site.jpg" alt="Sitio web">
				<figcaption>Website de Angemi repostería y café</figcaption>
			</figure>
		</article>
		<article>
			<figure>
				<img src="angemi_site.jpg" alt="Sitio web">
				<figcaption>Website de Angemi repostería y café</figcaption>
			</figure>
		</article>
	</section>
	<footer>
		<h3>Contacto</h3>
		<p>Si tienes alguna duda, sugerencia o quieres trabajar conmigo ponte en contacto con este formulario</p>
		<form action="">
			<input type="text" placeholder="Nombre">
			<input type="email" placeholder="Email">
			<textarea name="" id="" placeholder="Motivo"></textarea>
			<button type="submit">Contactame</button>
		</form>
	</footer>
</body>
</html>